.card img {
  width: 150px;
}
.card p {
  opacity: .5;
}
.card {
  font-family: 'Syne Tactile', cursive;
  width: 200px;
  box-shadow: 0 0 20px red;
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  color: white;
  background-color: black;
  height: 300px;
}
.card img {
  height: 100px;
  margin-bottom: 20px;
}
.card:hover {
  transition: 3s;
  transform: rotate(180deg);
}
.card:hover h3 {
  color: red;
}
.scary-font {
  font-family: 'Syne Tactile', cursive;
  font-size: 25px;
  color: white;
}
.scary {
  font-family: 'Syne Mono', monospace;
  margin-bottom: 40px;
}
